@import "tailwindcss";
@import "tw-animate-css";

@plugin "@tailwindcss/typography";
@plugin "@tailwindcss/aspect-ratio";

@theme {
  --color-green: #008000;
  --color-green-10: #0080001A;
  --color-green-25: #00800040;
  --color-green-50: #00800080;
  --color-green-75: #008000BF;
  --color-green-90: #008000E6;
  --color-green-100: #008000FF;
  --color-logo-green: #008000;
  --color-green-500: #008000;
  --color-logo-green-dark: #165016;
  --color-logo-green-bright: #4a0;
  --color-logo-grey-light: #1b1b1b;

  --breakpoint-sm: 640px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1280px;
  --breakpoint-2xl: 1440px;

  --container-padding: 1.5rem;
}

@utility container {
  width: 100%;
  margin-inline: auto;
  max-width: 1440px;
  padding-inline: 1.5rem;
  @variant lg {
    padding-inline: 5rem;
  }
}

:root {
  --color-white: #ffffff;
  --color-black: #1b1b1b;
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: #1B1B1B;
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: #e2e2e2;
  --color-border: var(--border);
  --input: #e5e7eb;
  --ring: #e5e7eb;
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: #e5e7eb;
  --sidebar-ring: #e5e7eb;
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --color-border: var(--border);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

@layer base {
  *, ::after, ::before, ::backdrop, ::file-selector-button {
    border-color: var(--color-border, currentColor);
  }

  body {
    background-color: var(--background);
    color: var(--foreground);
  }
}


@layer components {
}

body,
.font-body {
  font-family: var(--font-lato), sans-serif;
}

h1, h2, h3, h4, h5, h6,
.font-heading {
  font-family: var(--font-merriweather), serif;
}

.with-overlay::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 1;
  pointer-events: none;
}

.with-overlay img {
  position: relative;
  z-index: 0;
}


@media screen and (max-width: 768px) {
  .group.not-scrolled .fill-logo-green,
  .group.not-scrolled .fill-logo-green-dark,
  .group.not-scrolled .fill-logo-green-bright {
    fill: white;
  }

  .group.not-scrolled text.fill-logo-green,
  .group.not-scrolled text.fill-logo-grey-light {
    fill: white;
  }
}

@media screen and (min-width: 769px) {
  .group.not-scrolled:not(:hover) .fill-logo-green,
  .group.not-scrolled:not(:hover) .fill-logo-green-dark,
  .group.not-scrolled:not(:hover) .fill-logo-green-bright {
    fill: white;
  }

  .group.not-scrolled:not(:hover) text.fill-logo-green,
  .group.not-scrolled:not(:hover) text.fill-logo-grey-light {
    fill: white;
  }
}
